node_modules
.turbo
.expo
.expo-shared
dist
coverage
.env
.env.local
.env.development
.env.production
**/.env
**/.env.local
**/.env.development
**/.env.production
*.tsbuildinfo
supabase/.temp
apps/*/.expo
apps/*/dist
apps/*/web-build
.DS_Store
